.container{
    margin: -1%;
    font-family:sans-serif;
}
.header{
    padding:0.7%;
    background-color:#117AD8;
    color:#ffffff;
    position:relative;
}
.header span{
  font-weight: bold;
    margin-left: 1%;
}
.header input{
    border: none;
    background-color: #CBDBF1;
    margin-left: 33%;
    width: 29%;
    margin-top: 0.2%;
    padding:0.75%;
    border-radius: 0.2rem;
    padding-left:3%;
}
.header i{
    color: #117AD8;
    position:absolute;
    right: 60%;
    top: 30.8%;
}
.header input::-webkit-input-placeholder {
  color: #117AD8;
  opacity: 1;
}
.nav-left{
    background-color:#f4f4f4;
    width: 55px;
    height:37rem;
    border-right: 1px solid #ededed;
    display:inline-block;
    transition: 0.01s;
}
.nav-header{
    margin-top: 20px;
    padding-left: 12px;
}
.nav-header i{
    color: #117AD8;
}
.nav-header button{
    border: 1px solid #f4f4f4;
    background: transparent;
    outline:none;
}
.nav-content{
    margin-top: 10px;
}
.nav-content ul{
    list-style-type: none;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    padding-inline-start: 19px;
}
.nav-content li{
    display:flex;
}
.nav-item{
    padding-top: 11px;
    color: #595b5f;
}
.material-icons{
    font-size:20px;
}
.task {
    display: flex;
    color: #117AD8;
    padding-top: 25px;
}
.new-task {
    display: flex;
    color: #117AD8;
    padding-top: 25px;
}
.item-description{
    margin-top: 1px;
    padding-left: 15px;
    font-size: 15px;
    display:none;
}
.item-description span{
    max-width:30px;
    overflow:auto;
}
.green{
    color: #79bd65;
}
.lists{
    color: #117AD8;
}
.add-list{
    display:flex;
    padding-left: 17px;
}
.add-list-icon{
    color: #117AD8;
}
.add-list-input{
    padding-left: 15px;
    display:none;
}
.add-list-input input{
    border: none;
    padding-top: 3px;
    outline:none;
    background:transparent;
}
.add-list-input input::-webkit-input-placeholder {
  color: #117AD8;
  opacity: 1;
    font-size: 15px;
}
.body{
    display:flex;
}
.center-column{
    width:1040px;
}
.center{
    padding: 24px 0 0 34px;
    font-size: 19px;
    color: #117AD8;
}
.center.tool-bar input{
    border: none;
    font-size: 20px;
    color: #117AD8;
    outline:none;
    color: #117AD8;
}
.center.tool-bar button{
    margin-left: 9px;
    border: transparent;
    background: transparent;
    outline:none;
}
.center.tool-bar i{
    font-size: 18px;
}
.center.task{
    display:flex;
    margin-top: -9px;
}
.task-icon i {
    margin-top: 4px;
    color: #117AD8;
}
.task-input{
    width:95%;
    display: flex;
    flex-direction: column;
}
.task-input input{
    width: 90%;
    padding: 7px 0 5px 25px;
    border: none;
    outline: none;
    color: #117AD8;
    font-size: 15px;
}
.task-input input::-webkit-input-placeholder {
   color: #117AD8;
   opacity: 1;
    font-size: 15px;
}
.background-lines{
    background: linear-gradient(180deg, #fff, #fff 52px, #e5e5e5 52px, #e5e5e5 52px);
    background-size: 100% 53px;
    border-top: 1px solid #e5e5e5;
    padding: 48px 0 0 0;
    margin-left: 35px;
    margin-right: 40px;
}
.right-column {
    background-color: #f4f4f4;
    border-left: 1px solid #ededed;
    width:360px;
    color: #595b5f;
    display:none;
}
.right{
    border: 1px solid #ededed;
    background-color: #ffffff;
    margin:8px;
}
.new-task-right{
    display:flex;
}
.inner{
    margin: 5px 5px 0 5px;
    padding: 10px 10px 10px 10px;
}
.list-tasks {
    padding: 13px 0 0 0;
}
div#tasks {
    width: 95%;
}
.tasks-bar{
    display:flex;
}
.subTask {
    display: flex;
    color: #117AD8;
    padding-top: 25px;
}
#tasks{
    overFlow:auto;
}
#subTasks{
    overFlow:auto;
}
#listsMenu{
    overFlow:auto;
}
.task-input span {
    color: #646563;
    padding: 4px 0 0 25px;
    font-size: 10px;
}
