$show: block;
$hide: none;

.show{
  display: $show;
}
.hide{
  display: $hide;
}
.right-column {
    background-color: #f3f3f3;
    border-left: 1px solid #ededed;
    /* width:360px; */
    color: #595b5f;
    //display:none;
    height: 100%;
    float: right;
  }

  .right-column i{
    cursor: pointer;
  }
  .right{
    border: 1px solid #ededed;
    background-color: #ffffff;
    /* margin-left: 7px; */
    /* margin-top: 7px; */
    margin: 7px 7px 7px 7px;
    padding: 7px 7px 7px 7px;
    width: 340px;
    font-size: 15px;
    overflow: auto;
  }
  .new-task-right{
    display:flex;
  }
  input#taskTitle {
    font-weight: bold;
  }
  .inner{
    margin: 5px 5px 0 5px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    /* border-bottom: 1px solid #e0dcdb; */
  }
  .list-tasks {
    padding: 13px 0 0 0;
  }
  div#tasks {
    width: 90%;
  }
  .tasks-bar{
    display:flex;
    /* position: fixed; */
    background-color: #ffffff;
    /* top: 48px; */
    padding-left: 23px;
  }
  .subTask {
    display: flex;
    color: #117AD8;
    padding-top: 13px;
    cursor: pointer;
    padding-left: 0px;
  }
  #tasks{
    overFlow:auto;
  }
  #subTasks{
    overFlow:auto;
    /* margin-top: 0; */
  }
  #listsMenu{
    overFlow:auto;
  }
  .task-input span {
    color: #646563;
    padding: 4px 0 0 0;
    font-size: 10px;
  }
  .item-desc-sub {
    display: flex;
    flex-direction: column;
  }
  .task-count-span {
    color: #747571;
    font-size: 10px;
  }
  
  
  #add-notes[contenteditable] {
    display: inline-block;
    outline: none;
    cursor: text;
    width: 100%;
  }
  #add-notes[contenteditable]:empty::before {
    content: 'Add notes';
    display: inline-block;
  }
  .taskShortDetails {
    padding-left: 25px;
  }
  i.material-icons.dot {
    font-size: 5px;
    padding-left: 5px;
    color: #b2b3b0;
  }
  i.material-icons.notes-icon {
    padding-left: 5px;
    font-size: 14px;
    color: #b2b3b0;
  }
  .task-delete {
    padding-top: 5px;
    color: #babbb7;
  }
  
  
  .popUp {
    display:none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .popUpInner {
    background: white;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 12%;
    border-radius: 5px;
  }
  .btns{
    margin-top: 25px;
  }
  .btns button{
    border: none;
    color: #ffffff;
    padding: 5px;
  }
  .deleteBtn {
    float: right;
    background-color: #ea3b3b;
  }
  .cancelBtn {
    background-color: #4070e0;
  }
  .nav-bar-open {
    width:295px;
  }
  .display{
    display:block;
  }
  .default-task-li {
    color: #117AD8;
  }
  .gray-color{
    color: #595b5f;
  }
  .lists-menu-height {
    height: 210px;
  }
  .tasks-height {
    height: 450px;
  }
  .line-through{
    text-decoration: line-through;
  }
  .task-height {
    height: 5px;
  }
  .delete-task{
    display: none;
  }
  .footer {
    margin-left: 0;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #ededed;
  }
  .right-scroll {
    height: 500px;
    overflow: auto;
  }
  .inner i {
    font-size: 18px;
  }
  span.right-inner-text {
    padding-left: 20px;
    opacity: 0.9;
  }
  .thick-border{
    border-color: #d1d4d6;
  }
  .task-icon i {
    margin-top: 4px;
    color: #117AD8;
  }
  .task-input{
    width:95%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  #newTask-input{
    cursor: text;
  }
  #newSubTask-input{
    cursor: text;
  }
  .task-input input{
    width: 90%;
    padding: 7px 0 5px 25px;
    border: none;
    outline: none;
    color: #3f4142;
    font-size: 15px;
    /* font-weight: bold; */
    cursor: pointer;
  }
  .task-input input::-webkit-input-placeholder {
   color: #117AD8;
   opacity: 0.7;
    font-size: 15px;
  }
  .contextmenu{
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 15px;
  }
  .contextmenu i{
    font-size: 15px;
  }
  .contextmenuDesc{
    padding-left: 5px;
  }
  .contextmenu ul{
    list-style-type: none;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    padding-inline-start: 19px;
  }
  .contextmenu li{
    display:flex;
    margin-right: 10px;
    cursor: pointer;
  }

  .popUp {
      display:block;
      position: fixed;
      z-index: 1;
      padding-top: 200px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
  }
  .popUpInner {
      background: white;
      margin: auto;
      padding: 15px;
      border: 1px solid #888;
      width: 12%;
      border-radius: 5px;
  }
  .btns{
      margin-top: 25px;
  }
  .btns button{
      border: none;
      color: #ffffff;
      padding: 5px;
  }
  .deleteBtn {
      float: right;
      background-color: #ea3b3b;
  }
  .cancelBtn {
      background-color: #4070e0;
  }