
<div [ngClass]="{'right-column' : true}" id="rightColumn" 
    (click)="disableContextMenu()">
        <div class="inner tasks-bar right">
            <div class="task-icon" (click)="updateTask()">
                <i class="material-icons" *ngIf="task.status">radio_button_unchecked</i>
                <i class="material-icons" *ngIf="!task.status">check_circle_outline</i>
            </div>
            <div [ngClass] = "{'task-input' : true, 'line-through' : !task.status}">
                <input #taskTitle type="text" value="{{task.name}}"
                    (keyup.enter) = updateTaskName(taskTitle) (blur) = updateTaskName(taskTitle)/>
            </div>
            <div class="task-icon imp-icon" (click)=markTaskAsImp()>
                <i class="material-icons" *ngIf="task.isImportant">
                    star
                </i>
                <i class="material-icons" *ngIf="!task.isImportant">
                    star_border
                </i>
            </div>
        </div>
        <div class="right-scroll">
            <div class="right steps">
                <div id="subTasks" class="inner">

                    <div class="subTask" *ngFor="let subTask of task.subTasks" oncontextmenu="return false;">
                        <div class="task-icon" (click)="updateSubTask(subTask)">
                            <i class="material-icons" *ngIf="subTask.status">radio_button_unchecked</i>
                            <i class="material-icons" *ngIf="!subTask.status">check_circle_outline</i>
                        </div>
                        <div [ngClass] = "{'task-input' : true, 'line-through' : !subTask.status}"
                            (contextmenu)="onrightClick($event, subTask)">
                            <input #SubTasksInput type="text" value="{{subTask.name}}"
                                (blur) = updateSubTaskName(subTask,SubTasksInput)
                                (keyup.enter) = updateSubTaskName(subTask,SubTasksInput)/>
                        </div>
                    </div>

                </div>
                <div class="inner new-task-right">
                    <div class="task-icon">
                        <label for="newSubTask-input">
                            <i class="material-icons">add</i>
                        </label>
                    </div>
                    <div class="task-input">
                        <input #newSubTaskInput type="text" placeHolder="Add step"
                            (keyup.enter) = addSubTask(newSubTaskInput)/>
                    </div>
                </div>
            </div>
            <div class="right my-day">
                <div class="inner">
                    <span>
                        <i class="material-icons" >
                            wb_sunny
                        </i>
                    </span>
                    <span class="right-inner-text">Add to My Day</span>
                </div>
            </div>
            <div class="right options">
                <div class="inner">
                    <span>
                        <i class="material-icons" >
                            access_alarm
                        </i>
                    </span>
                    <span class="right-inner-text">Remind me</span>
                </div>
                <div class="inner">
                    <span>
                        <i class="material-icons" >
                            today
                        </i>
                    </span>
                    <span class="right-inner-text">Add due date</span>
                </div>
                <div class="inner">
                    <span>
                        <i class="material-icons" >
                            repeat
                        </i>
                    </span>
                    <span class="right-inner-text">Repeat</span>
                </div>
            </div>
            <div class="right add-files">
                <div class="inner">
                    <span>
                        <i class="material-icons" >
                            attach_file
                        </i>
                    </span>
                    <span class="right-inner-text">Add file</span>
                </div>
            </div>
            <div class="right notes">
                <div class="inner">
                    <span contentEditable="true" id="add-notes" (blur)="addNotes(this.text)">
                        {{task.notes}}
                    </span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-close-btn">
                <i id="close-right-column" class="material-icons" (click) = closeInfo()>arrow_forward</i>
            </div>
        </div>
    </div>

    <div *ngIf="contextmenu" class="contextmenu"
        [ngStyle]="{'left.px': contextmenuX, 'top.px': contextmenuY}">
        <ul>
            <li (click) = togglePopUp()>
                <div class="contextmenuIcon">
                        <i class="material-icons" >delete</i>
                </div>
                <div class="contextmenuDesc">
                        <span>Delete Step</span>
                </div>
            </li>
        </ul>
    </div>

    <div id="popUpId" class="popUp" *ngIf="popUpStatus">
        <div id="popUpInnerId" class="popUpInner">
            <span>You won't be able to undo this action!</span>
            <div class="btns">
                    <button class="cancelBtn" (click)=togglePopUp()>Cancel</button>
                    <button class="deleteBtn" (click)=deleteSubTask(subTask)>Delete</button>
            </div>
        </div>
    </div>
