
<div class="center-column">
        <div class="center tool-bar">
            <input #listTitle [(ngModel)]="list.name"/>
            <!--<button><i class="material-icons" >more_horiz</i></button>-->
        </div>
        <div id="tasks" class="center">

            <div *ngFor="let task of list.tasks" class="task" id="idTask">
                <div class="task-icon" (click)=updateTask(task)>
                    <i class="material-icons" *ngIf="task.status">
                        radio_button_unchecked
                    </i>
                    <i class="material-icons" *ngIf="!task.status">
                        check_circle_outline
                    </i>
                </div>
                <div [ngClass] = "{'task-input' : true, 'line-through' : !task.status}"
                    (click) = "setTask(task)">
                    <input id="TasksInput" type="text" value="{{task.name}}" readonly/>
                </div>
            </div>

        </div>
        <div class="center new-task">
            <div class="task-icon">
                <label for="newTask-input">
                    <i class="material-icons">add</i>
                </label>
            </div>
            <div class="task-input">
                <input #newTaskInput type="text" placeHolder="Add task"
                    (keyup.enter) = addTask(newTaskInput)/>
            </div>
        </div>
        <!--<div class="center background-lines">
        </div>-->
    </div>
    <app-right *ngIf="task" [task] = "task"></app-right>