
<div class="center-column">
        <div class="center tool-bar">
            <input #listTitle [(ngModel)]="list.name"/>
            <!--<button><i class="material-icons" >more_horiz</i></button>-->
        </div>
        <div id="tasks" [ngClass]="{'center' : true, 'tasksOverFlow' : list.tasks.length > 7}">

            <div *ngFor="let task of list.tasks" class="new-task task" id="idTask">
                <div class="task-icon" (click)=updateTask(task)>
                    <i class="material-icons" *ngIf="task.status">
                        radio_button_unchecked
                    </i>
                    <i class="material-icons" *ngIf="!task.status">
                        check_circle_outline
                    </i>
                </div>
                <div [ngClass] = "{'task-input' : true}"
                    (click) = "setTask(task)">
                    <input [ngClass] = "{'line-through' : !task.status}" id="TasksInput" type="text" value="{{task.name}}" readonly/>
                    <div *ngIf="(task.isImportant && list.name == 'Important')" 
                            class="taskShortDetails">
                        <span>{{task.listName}}  </span>
                    </div>
                    <div *ngIf="task.subTasks.length != 0" class="taskShortDetails">
                        <span>{{task.completedSubTasksLength}} of {{task.subTasks.length}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="center new-task">
            <div class="task-icon">
                <label for="newTask-input">
                    <i class="material-icons">add</i>
                </label>
            </div>
            <div class="task-input">
                <input #newTaskInput id="newTask-input" type="text" placeHolder="Add task"
                    (keyup.enter) = addTask(newTaskInput)/>
            </div>
        </div>
        <!--<div class="center background-lines">
        </div>-->
    </div>
    <app-right *ngIf="task.taskInfo" [task] = "task"></app-right>