
<div class="center-column">
        <div class="center tool-bar">
            <input id="list-title" value="Tasks" readonly>
            <!--<button><i class="material-icons" >more_horiz</i></button>-->
        </div>
        <div id="tasks" class="center">
            <!--<div class="task" id="idTask">
                <div class="task-icon">
                    <i class="material-icons">radio_button_unchecked</i>
                </div>
                <div class="task-input">
                    <input id="TasksInput" type="text" value="dzfhsgfhn"/>
                </div>
            </div>-->
        </div>
        <div class="center new-task">
            <div class="task-icon">
                <label for="newTask-input">
                    <i class="material-icons">add</i>
                </label>
            </div>
            <div class="task-input">
                <input id="newTask-input" type="text" placeHolder="Add task"/>
            </div>
        </div>
        <!--<div class="center background-lines">
        </div>-->
    </div>