
$theme-color: #117AD8;
  .center-column{
    float: left;
    height: 37rem;
    width: 65%;
    i{
      cursor: pointer;
    }
  }
  .center{
    padding: 24px 0 0 34px;
    font-size: 19px;
  }
  .tool-bar{
    input{
      border: none;
      font-size: 20px;
      color: $theme-color;
      outline:none;
      cursor: pointer;
    }
    button{
      margin-left: 9px;
      border: transparent;
      background: transparent;
      outline:none;
    }
    i{
      font-size: 18px;
    }
  }
  .task{
    display:flex;
    margin-top: -9px;
  }
  .task-icon{ 
    i {
      margin-top: 4px;
      color: $theme-color;
      }
  }
  .task-input{
    width:95%;
    display: flex;
    flex-direction: column;
    input {
      width: 90%;
      padding: 7px 0 5px 25px;
      border: none;
      outline: none;
      color: #3f4142;
      font-size: 15px;
      /* font-weight: bold; */
      cursor: pointer;
      &::-webkit-input-placeholder {
        color: $theme-color;
        opacity: 0.7;
        font-size: 15px;
      }
    }
    span {
      color: #646563;
      padding: 4px 0 0 0;
      font-size: 10px;
    }
  }
  #newTask-input{
    cursor: text;
  }
  .new-task {
    display: flex;
    color: $theme-color;
    padding-top: 25px;
  }
  .task {
    cursor: pointer;
    height: 40px;
  }
  .line-through {
    text-decoration: line-through;
  }
  .taskShortDetails {
    padding-left: 25px;
    margin-top: -10px;
  }
  .tasksOverFlow{
    height: 460px;
    overflow: auto;
  }