
$show: block;
$hide: none;

.show{
  display: $show;
}
.hide{
  display: $hide;
}
.nav-left{
  background-color:#f4f4f4;
  height:37rem;
  border-right: 1px solid #ededed;
  float: left;
  i{
    cursor: pointer;
  }
}
.nav-header{
  margin-top: 20px;
  padding-left: 12px;
  i{
    color: #117AD8;
  }
}
.menuBtn{
  border: 1px solid #f4f4f4;
  background: transparent;
  outline:none;
}
.menuBtnMouse{
  border: 1px solid #e6e4e4;
  background-color: #ffffff;
  outline:none;
}
.nav-content{
  margin-top: 10px;
  ul{
    list-style-type: none;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    padding-inline-start: 19px;
  }
  li{
    display:flex;
    margin-right: 17px;
  }
  li.selected{
    color: #117AD8;
    font-weight: bold;
  }
}
.nav-item{
  padding-top: 11px;
  color: #595b5f;
  cursor: pointer;
}
.material-icons{
  font-size:20px;
}
.item-description{
  margin: 1px 117px 0 15px;
  font-size: 15px;
  width: 110px;
  span{
    max-width:200px;
    overflow:auto;
  }
}
.green{
    color: #79bd65;
}
.add-list{
    display:flex;
    padding-left: 17px;
}
.add-list-icon{
    color: #117AD8;
}
.add-list-input{
  padding-left: 15px;
  input{
    border: none;
    padding-top: 3px;
    outline:none;
    background:transparent;
    &::-webkit-input-placeholder {
      color: #117AD8;
      opacity: 0.7;
      font-size: 15px;
    }
  }
}
.listsOverFlow{
  height:500px;
  overflow-y: auto;
}