
<div id="nav-bar" class="nav-left">
        <div class="nav-header">
            <button class="menuBtn" appMenuBtn id="menu-btn" (click)=toggleMenu()>
                <i class="material-icons">menu</i>
            </button>
        </div>
        <div class="nav-content">
            <ul [ngClass]="{'listsOverFlow' : lists.length > 12}">
                <div class="nav-item">
                    <li>
                        <div class="item-icon">
                            <i class="material-icons">wb_sunny</i>
                        </div>
                        <div [ngClass]="{'item-description' : true, 'hide' : status}">
                            <span>My Day</span>
                        </div>
                    </li>
                </div>
                <div class="nav-item">
                    <li id="imp-task" [class.selected]="importants === selectedList"
                            (click) = setList(importants)>
                        <div class="item-icon">
                            <i class="material-icons">star_border</i>
                        </div>
                        <div [ngClass]="{'item-description' : true, 'hide' : status}">
                            <span>Important</span>
                        </div>
                    </li>
                </div>
                <div class="nav-item">
                    <li>
                        <div class="item-icon">
                            <i class="material-icons">date_range</i>
                        </div>
                        <div [ngClass]="{'item-description' : true, 'hide' : status}">
                            <span>Planned</span>
                        </div>
                    </li>
                </div>
                <div class="nav-item">
                    <li>
                        <div class="item-icon green">
                            <i class="material-icons">person_outline</i>
                        </div>
                        <div [ngClass]="{'item-description' : true, 'hide' : status}">
                            <span>Assigned To Me</span>
                        </div>
                    </li>
                </div>
                <div class="nav-item tasks">
                    <li id="default-task" class="default-task-li" [class.selected]="defaultList === selectedList"
                        (click) = setList(defaultList)>
                        <div class="item-icon">
                            <i class="material-icons">home</i>
                        </div>
                        <div [ngClass]="{'item-description' : true, 'hide' : status}">
                            <span>{{defaultList.name}}</span>
                        </div>
                    </li>
                </div>
                <div class="nav-item empty">
                </div>
                <div id="listsMenu" class="nav-item lists">

                    <li *ngFor="let list of lists" [class.selected]="list === selectedList"
                        (click) = setList(list)>
                        <div class="item-icon">
                            <i class="material-icons">list</i>
                        </div>
                        <div [ngClass]="{'item-description' : true, 'hide' : status}">
                            <div class="item-desc-sub">
                                <span>{{list.name}}</span>
                            </div>
                        </div>
                    </li>

                </div>
            </ul>
            <div class="add-list">
                <div class="add-list-icon">
                    <label for="addList-input">
                        <i id="add-btn" class="material-icons" value="close">add</i>
                    </label>
                </div>
                <div [ngClass]="{'item-description' : true, 'add-list-input' : true, 'hide' : status}">
                    <input id="addList-input" #addListInput type="text" maxlength="255" placeholder="New list"
                        (keyup.enter) = addList(addListInput)>
                </div>
            </div>
        </div>
    </div>
    <app-center [list] = "selectedList"></app-center>